<html>
<!--UNAUTHORIZED-->
<head>
    <meta charset="utf-8" />
    <title>SolarOS 4.0.1</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="assets/images/iconred.png">
    <link href="assets/css/jquery-ui.css" rel="stylesheet"/>
    <link href="assets/css/jquery.terminal.css" rel="stylesheet"/>
    <script src="assets/js/jquery-1.7.1.min.js"></script>
    <script src="assets/js/jquery.mousewheel-min.js"></script>
    <script src="assets/js/jquery.terminal.js"></script>
    <script src="assets/js/jquery-ui.js"></script>
</head>

<body>

<script src="mycmd.js"></script>
<div id="dialog-confirm" title="Confirmation Alert: LLLSDLaserControl">
  <h3 style="text-align: center;">Aperture Clear?</h3>
</div>
</body>
</html>
